<div>
    <form action="/courses/store" method="POST" >
        <div class="form-group" >
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Enter name" name="name"/>
        </div>
        {{!-- <div class="form-group">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Enter description" name="description"/>
        </div>
        <div class="form-group">
            <label for="inputVideoId">Video Id</label>
            <input type="text" class="form-control" id="inputVideoIdId" placeholder="Enter video id" name="videoId"/>
        </div> --}}

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>