<div class="mt-5">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputKeyword">Search</label>
            <input type="text" class="form-control" id="exampleInputKeyword"
                placeholder="Enter keyword..." name="keyword">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
    </form>
</div>